.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.approve-btn,
.reject-btn,
.delete-btn,
.edit-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.approve-btn {
    background-color: #4caf50;
}

.approve-btn:hover {
    background-color: darkgreen;
}

.reject-btn {
    background-color: #dc3545;
}

.delete-btn {
    background-color: #dc3545;
}

.reject-btn:hover,
.delete-btn:hover {
    background-color: darkred;
}

.approve-btn:hover,
.edit-btn:hover {
    background-color: darkgreen;
}

.accept-reject-product-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.accept-reject-product-modal-open {
    opacity: 1;
}

.accept-reject-product-modal-close {
    opacity: 0;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: scale(0.9);
    transition: transform 300ms ease-in-out;
}

.reject-product-modal-open .modal-content {
    transform: scale(1);
}

.reject-product-modal-close .modal-content {
    transform: scale(0.9);
}

.modal-header {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.modal-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-submit-button,
.modal-cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-submit-button {
    background-color: #4CAF50;
    color: white;
}

.modal-submit-button:hover {
    background-color: #45a049;
}

.modal-cancel-button {
    background-color: #f44336;
    color: white;
}

.modal-cancel-button:hover {
    background-color: #e53935;
}

.no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
}